body{
  background: #d3d3d330;
}


/*RIGA A*/
.prodotto{
  display: inline-block;
  margin: 2px;
}

/* PRODOTTO 1*/
.container{
  position: relative;
  width: 100%;
  height: 300px;
  box-shadow: 1px 1px 3px grey;
  background: #ffffff;
}

.immagine{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: auto;
  height: 90%;
}

.sconto{
  background: green;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  padding: 5px;
  border-radius: 2px;
}

/*settaggio per comparsa cuore su hover*/
.prodotto{
  position: relative;
  width: 30%;
  height: 300px;
  cursor: pointer;
}

.cuore{
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
}

.prodotto:hover .cuore{
  display: block;
}

/*SCONTO 2*/
#sconto_A2, #sconto_B2{
  background: red;
}
