.container{
  /*background: lightgrey;*/
  position: relative;
  width: 30%;
  height: 300px;
  box-shadow: 1px 1px 3px grey
}

.immagine{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.sconto{
  background: green;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  padding: 5px;
  border-radius: 2px;
}

.cuore{
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
}

/*comparsa cuore su hover*/
